.full-page {
  background: #b8b8b8;
  font-family: "Arial";
}
.outer-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.left-panel {
  width: 80%;
  display: flex; /* Add this */
  flex-direction: column;
  overflow: hidden;
}
.left-panel-conversation {
  padding: 3rem;
  height: 80%;
  overflow-y: auto;
}
.left-panel-textsubmit {
  height: 80%;
  height: 30%;
}
.right-panel {
  width: 50%;
  height: 100vh;
  padding: 1rem;
}
